@using System.Security.Claims
@model EditAccountModel

@{
    ViewData["Title"] = "Edit Account";
    var user = new EditAccountModel()
    {
    Login = "",
    Email = "",
    Name = ""
    };
    if (ViewBag.editUser != null)
    {
        user = ViewBag.editUser;
    }
}
<style>textarea{
        min-height: 150px!important;
        max-height: 250px;}</style>
<div class="container col-xl-7 mt-5">
    <h1>Account</h1>
    <form class="row g-3 needs-validation" asp-anti-forgery="true" method="post" enctype="multipart/form-data" novalidate>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="col-12">
            <label for="inputAvatar" class="form-label">Avatar</label>
            <input type="file" asp-for="Avatar" class="form-control" accept="image/png, image/jpeg, image/jpg" id="inputAvatar">
            @Html.ValidationMessageFor(x => x.Avatar)
        </div>
        <div class="col-12">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" asp-for="Name" class="form-control" id="inputName" value="@user.Name" placeholder="Steve" required>
            <div class="invalid-feedback">
                Введите имя.
            </div>
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="col-12">
            <label for="inputLogin" class="form-label">Login</label>
            <div class="input-group has-validation">
                <div class="input-group-text">@@</div>
                <input type="text" asp-for="Login" class="form-control" id="inputLogin" value="@user.Login" placeholder="Username" required>
                <div class="invalid-feedback">
                    Введите логин.
                </div>
            </div>
            @Html.ValidationMessageFor(x => x.Login)
        </div>
        <div class="col-12">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" asp-for="Email" class="form-control" id="inputEmail" value="@user.Email" placeholder="name@example.com" required>
            <div class="invalid-feedback">
                Введите email.
            </div>
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="col-12">
            <label for="inputDescription" class="form-label">Description</label>
            <textarea name="Description" rows="4" class="form-control" id="inputDescription" placeholder="О себе">@user.Description</textarea>
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div class="col-12">
            <label for="inputPhone" class="form-label">Phone</label>
            <input type="tel" asp-for="Phone" class="form-control" id="inputPhone" value="@user.Phone" placeholder="+X (XXX) XXX-XX-XX"
                   pattern="[\+\]\d{1}\s[\(\]\d{3}[\)\]\s\d{3}[\-\]\d{2}[\-\]\d{0-2}" minlength="9" maxlength="18">
            @Html.ValidationMessageFor(x => x.Phone)
        </div>

        <div class="col-6">
            <a type="button" class="btn btn-secondary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Изменить пароль</a>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
        </div>
    </form>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Обновить пароль</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="needs-validation" asp-controller="Account" asp-action="UpdatePassword" asp-anti-forgery="true" method="post" novalidate>
                    <div class="modal-body">
                        <div class="col">
                            <label for="old-password-input" class="form-label">Старый пароль:</label>
                            <div class="position-relative has-validation">
                                <input type="password" name="oldPassword" class="form-control" id="old-password-input" required>
                                <a class="password-control" style="top: 10px;" onclick="return toggle_password_visibility(this, 'old    -password-input');"></a>
                                <div class="invalid-feedback">
                                    Введите существующий пароль.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="new-password-input">Новый пароль:</label><br />
                            <div class="position-relative has-validation">
                                <input type="password" name="newPassword"
                                       style="background-position: right calc(2em + .1875rem) center;"
                                       class="form-control" 
                                       id="new-password-input" 
                                       oninput="return check();"
                                       required>
                                <a class="password-control" style="top: 10px;" id="img-hide"
                                   onclick="return toggle_password_visibility(this, 'new-password-input');"></a>
                                <div class="invalid-feedback">
                                    Введите новый пароль.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="new-password-input_confirm">Повторите новый пароль:</label><br />
                            <div class="position-relative has-validation">
                                <input type="password" name="newPasswordConfirm"
                                       style="background-position: right calc(2em + .1875rem) center;"
                                       class="form-control" 
                                       id="new-password-input_confirm" oninput="return check();" required>
                                <a class="password-control" style="top: 10px;" id="img-hide1"
                                   onclick="return toggle_password_visibility(this, 'new-password-input_confirm');"></a>
                                <div class="invalid-feedback">
                                    Повторите новый пароль.
                                </div>
                                <span id="message"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary" id="submit_password" disabled>Обновить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/needs-validation.js" async></script>
<script src="~/js/password_visibility.js" async></script>
<script>
    function check() {
        var pass = document.getElementById('new-password-input').value,
            pass_conf = document.getElementById('new-password-input_confirm').value,
            mess = document.getElementById('message'),
            pass_sub = document.getElementById('submit_password');
        if (pass === pass_conf && pass !== "" && pass != null) {
            mess.style.color = 'green';
            mess.innerHTML = 'Совпадают';
            pass_sub.disabled = false;
        } else {
            mess.style.color = 'red';
            mess.innerHTML = 'Не совпадает';
            pass_sub.disabled = true;
        }
    }
</script>