@using System.Security.Claims
@addTagHelper *, ItemHub
@{
    ViewData["Title"] = "favorited";
}
@foreach (var item in ViewBag.ViewPageItems.Items)
{

<div class="card mb-3 col-md-8 m-auto">
    <div class="row ">
        <div class="col">
            @if(item.PathImages.Count == 1)
            {
            <div class="exmpl">
                <img src="@item.PathImages[0]" class="d-block w-100" alt="не пашет" />
            </div>
            }
            else
            {
            <div id="carouselExampleIndicators-@item.Id" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    @for (int i = 0; i < item.PathImages.Count; i++)
                    {
                    @if(i == 0)
                    {
                    <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id"
                            data-bs-slide-to="@i" class="active" aria-current="true"
                            aria-label="Slide @(i+1)"></button>
                    }
                    else if (i < 10)
                    {
                    <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id"
                            data-bs-slide-to="@i" aria-label="Slide @(i+1)"></button>
                    }
                    else break;
                    }
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active exmpl">
                        <img src="@item.PathImages[0]" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" alt="не пашет"/>
                    </div>
                    @for (int i = 1; i < item.PathImages.Count; i++)
                    {
                    if (i < 10)
                    {
                    <div class="carousel-item exmpl">
                        <img src="@item.PathImages[i]" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" alt="не пашет"/>
                    </div>
                    }
                    else break;
                    }
                </div>
            </div>
            }
        </div>
        <div class="col-md-8">
            <div class="card-body h-100 d-grid align-content-between">
                <a href="/item?id=@item.Id" class="text-decoration-none">
                    <div class="custom-color">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-title">@(item.Price)$</p>
                        </div>
                        <p class="card-text line-clamp-3">@item.Description</p>
                    </div>
                </a>
                <div class="d-flex justify-content-between align-items-end">
                    <a href="/item?id=@item.Id" class="text-decoration-none">
                        <p class="card-text mb-0">
                            <small class="text-muted">@@@item.Creator</small><br/>
                            @if (item.UpdatedDate == null)
                            {
                            <small class="text-muted">@item.CreatedDate.ToLocalTime()</small>
                            }
                            else
                            {
                            <small class="text-muted">Обновлено: @item.UpdatedDate.ToLocalTime()</small>
                            }
                        </p>
                    </a>
                    @if (User.FindFirst(ClaimTypes.Role)?.Value == UserRoles.CUSTOMER)
                    {
                    <form asp-action="FavoritedItems" asp-controller="Item" method="post" class="save-form">
                        <input type="hidden" name="id" value="@item.Id" class="item-id"/>
                        <a type="button" class="btn btn-outline-success btn-sm save-button" data-id="@item.Id">Сохранить</a>
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}
@if (ViewBag.ViewPageItems.Items.Count <= 0)
{
<p class="text-center text-muted">Нет ни одного товара.</p>
}
@if (ViewBag.ViewPageItems.PageViewModel.TotalPages > 1)
{
<div class="justify-content-center d-flex">
    <page-link page-model="ViewBag.ViewPageItems.PageViewModel" page-action="FavoritedItems"></page-link>
</div>
}

@if (User.FindFirst(ClaimTypes.Role)?.Value == UserRoles.CUSTOMER)
{
<script src="~/js/favorite-items.js" ></script>
}
