@using System.Security.Claims
@addTagHelper *, ItemHub
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-lg-4">
    @if (User.Identity!.IsAuthenticated)
    {
        <h1 class="display-4">Welcome, @User.Identity.Name</h1>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }
    @if (User.IsInRole("SELLER"))
    {
        <div class="h4"> 
            <a asp-action="Create" asp-controller="Item" class="btn btn-primary" >Create Item</a>
        </div>
    }
</div>
@if (User.FindFirst(ClaimTypes.Role)?.Value == UserRoles.SELLER)
{
<div class="d-flex justify-content-center mb-3">
    <ul class="nav nav-tabs col-8">
        <li class="nav-item">
            <a class="nav-link active" href="#">Все товары</a>
        </li>
        <li class="nav-item">
            <a asp-action="MyItems" class="nav-link">Мои товары</a>
        </li>
    </ul>
</div>
}

@foreach (var item in ViewBag.ViewPageItems.Items)
{
    <div class="modal fade" id="exampleModal-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel-@item.Id" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel-@item.Id">Удаление</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить "@item.Title"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <form asp-controller="Item" asp-action="Delete">
                        <input name="id" type="text" value="@item.Id" class="visually-hidden">
                        <button type="submit" class="btn btn-primary">Да, удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 col-md-8 m-auto">
        <div class="row ">
            <div class="col"> 
                @if(item.PathImages.Count == 1)
                {
                    <div class="exmpl">
                        <img src="@item.PathImages[0]" class="d-block w-100" alt="не пашет" />
                    </div>
                }
                else
                {
                    <div id="carouselExampleIndicators-@item.Id" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                            @for (int i = 0; i < item.PathImages.Count; i++)
                            {
                                @if(i == 0)
                                {
                                    <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" 
                                            data-bs-slide-to="@i" class="active" aria-current="true" 
                                            aria-label="Slide @(i+1)"></button>
                                }
                                else if (i < 10)
                                {
                                    <button type="button" data-bs-target="#carouselExampleIndicators-@item.Id" 
                                            data-bs-slide-to="@i" aria-label="Slide @(i+1)"></button>
                                }
                                else break;
                            }
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active exmpl">
                                <img src="@item.PathImages[0]" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" alt="не пашет"/>
                            </div>
                            @for (int i = 1; i < item.PathImages.Count; i++)
                            {
                                if (i < 10)
                                {
                                    <div class="carousel-item exmpl">
                                        <img src="@item.PathImages[i]" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" alt="не пашет"/>
                                    </div>
                                }
                                else break;
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-8">
                <a href="/item?id=@item.Id" class="text-decoration-none">
                    <div class="card-body h-100 d-grid align-content-between">
                        <div class="custom-color">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-title">@(item.Price)$</p>
                            </div>
                            <p class="card-text line-clamp-3">@item.Description</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                            <p class="card-text mb-0">
                                <small class="text-muted">@@@item.Creator</small><br/>
                                @if (item.UpdatedDate == null)
                                {
                                    <small class="text-muted">@item.CreatedDate.ToLocalTime()</small>
                                }
                                else
                                {
                                    <small class="text-muted">Обновлено: @item.UpdatedDate.ToLocalTime()</small>
                                }
                            </p>
                            @if (User.FindFirst(ClaimTypes.NameIdentifier)?.Value == item.Creator)
                            {
                                <div class="d-flex">
                                    <p class="card-text mb-0">
                                        <a class="text-decoration-underline cursor-pointer link-danger"
                                           data-bs-toggle="modal" data-bs-target="#exampleModal-@item.Id">Delete</a>
                                    </p>
                                    <p class="card-text ms-lg-5">
                                        <a class="text-decoration-underline" href="/edit?id=@item.Id">Edit</a>
                                    </p>
                                </div>
                            }
                            @if (User.FindFirst(ClaimTypes.Role)?.Value == UserRoles.CUSTOMER)
                            {
                                <form asp-action="SavedItems" asp-controller="Item" method="post" class="save-form">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <a type="button" class="btn btn-outline-success btn-sm save-button" data-id="@item.Id">Сохранить</a>
                                </form>
                            }
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
}
@if (ViewBag.ViewPageItems.Items.Count <= 0)
{
    <p class="text-center text-muted">Нет ни одного товара.</p>
}
<div class="justify-content-center d-flex">
    <page-link page-model="ViewBag.ViewPageItems.PageViewModel" page-action="Index"></page-link>
</div>
